@use "mixins";

$header-space: 10px;
$header-radius: 10px;
$header-bg: $dark-tint;
$header-color: $background;
$header-transition: all 0.3s ease-in-out;

// GUI
.gui-window {
  min-height: 400vh;
  .gui-header {
    background-color: $header-bg;
    color: $header-color;
    border-radius: $header-radius;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    // grid-template-areas: 
    //   'logo icon'
    //    'nav nav'
    // ;
    // grid-template-columns: 1fr 1fr;
    .header-logo {
      display: flex;
      margin: auto;
      transition: $header-transition;
      padding: $header-space;
      // align-self: center;
      // justify-content: center;
      // grid-area: logo;
      // align-items: center;
      // background-color: $header-bg;
      // margin: $header-space 0 0 $header-space;
      // border-radius: $header-radius $header-radius 0 0;
    }
    .header-icon {
      display: none;
      padding: $header-space;
      position: absolute;
      right: 0;
      // grid-area: icon;
      // display: none;
      // background-color: $header-bg;
      // margin: $header-space $header-space 0 0;
      // border-radius: 0 $header-radius $header-radius 0;
      .nav-icon {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        border: 2px solid $header-color;
        width: 30px;
        height: 30px;
        padding: 3px;
        margin-left: auto;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          border-width: 2px;
        }
        .nav-icon-line {
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: $header-color;
          transition: $header-transition;
        }
        .nav-icon-line:nth-child(1) {
          transform: translateY(-5px);
        }
        .nav-icon-line:nth-child(2) {
          transform: translateY(5px);
        }
      }
    }
    .header-nav {
      display: flex;
      flex-flow: column nowrap;
      padding: $header-space;
      transition: $header-transition;
      // grid-area: nav;
      // margin: $header-space;
      // background: $header-bg;
      // border-radius: 0 0 $header-radius $header-radius;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 2rem;
        // flex-flow: column nowrap;
        li {
          a {
            color: $header-color;
            &:hover {
              text-decoration: none;
              color: $light-tint;
            }
          }
        }
      }
      .nav-buttons {
        text-align: center;
        .btn {
          @include mixins.btn($header-color, $header-bg);
          &:hover {
            background-color: $light-tint;
            color: $foreground;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .gui-window {
    .gui-header {
      flex-flow: row nowrap;
      justify-content: space-between;
      .header-logo {
        margin: 0;
      }
      .header-icon {
        display: none;
      }
      .header-nav {
        flex-flow: row nowrap;
        align-items: center;
        ul {
          margin: 0 2rem 0 0;
        }
      }
    }
  }
}