@use "mixins";

$header-space: 10px;
$header-radius: 10px;
$header-bg: $dark-tint;
$header-color: $background;
$header-transition: all 0.3s ease-in-out;

// GUI
.gui-window {
  .gui-header {
    color: $header-color;
    display: grid;
    grid-template-areas: 
      'logo icon'
       'nav nav'
    ;
    grid-template-columns: 1fr 1fr;
    .header-logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      background-color: $header-bg;
      padding: $header-space;
      margin: $header-space 0 0 $header-space;
      border-radius: $header-radius 0 0 $header-radius;
    }
    .header-icon {
      grid-area: icon;
      background-color: $header-bg;
      padding: $header-space;
      margin: $header-space $header-space 0 0;
      border-radius: 0 $header-radius $header-radius 0;
      .nav-icon {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        border: 3px solid $header-color;
        max-width: 45px;
        height: 35px;
        padding: 3px;
        margin-left: auto;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          border-width: 2px;
        }
        .nav-icon-line {
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: $header-color;
          transition: all 0.3s ease-in-out;
        }
        .nav-icon-line:nth-child(1) {
          transform: translateY(-5px);
        }
        .nav-icon-line:nth-child(2) {
          transform: translateY(5px);
        }
      }
    }
    .header-nav {
      display: flex;
      visibility: hidden;
      grid-area: nav;
      background: $header-bg;
      margin: $header-space;
      padding: $header-space;
      border-radius: $header-radius;
      transition: $header-transition;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;
        margin-bottom: 2rem;
        li {
          a {
            color: $header-color;
            &:hover {
              text-decoration: none;
              color: $light-tint;
            }
          }
        }
      }
      .nav-buttons {
        .btn {
          @include mixins.btn($header-color, $header-bg);
          &:hover {
            background-color: $light-tint;
            color: $foreground;
          }
        }
      }
    }
  }
}
