@mixin btn($bg, $color, $tint) {
  cursor: pointer;
  border: none;
  padding: 0.5rem 10px;
  background-color: $bg;
  color: $color;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 0 2px $tint;
    background: transparent;
    color: $bg;
  }
  &:active {
    background-color: $tint;
    color: $color;
  }
  &:focus {
    @extend :hover;
    outline: none;
  }
}