@use "mixins";

.terminal-window {
  display: flex;
  justify-content: center;
  padding: 1rem;
  .terminal-container {
    width: clamp(200px, 100%, 800px);
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    align-self: center;
    box-shadow: 0 0 5px var(--foreground);
    .terminal-header {
      background-color: $dark-grey;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        @include mixins.btn(var(--terminal-color), $dark-color, var(--terminal-color));
      }
      .settings-btn {
        &:hover svg {
          fill: var(--terminal-color);
        }
        &:active {
          background: $dark-color;
        }
        svg {
          fill: $dark-color;
        }
      }
    }
    .terminal-body {
      background-color: $dark-color;
      background-image: linear-gradient(135deg, #1c1c1c, #000000, #1c1c1c);
      padding: 1rem;
      height: 400px;
      max-height: 400px;
      overflow-y: scroll;
      color: $light-color;
      cursor: text;
      #terminalIntro {
        color: $light-color;
        margin-bottom: 10px;
      }
      .line, .response {
        display: flex;
        align-items: flex-start;
      }
      .response {
        color: $light-color;
        gap: 5px;
      }
      .input {
        flex: 1;
        color: $light-color;
        background: transparent;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 1em;
        min-width: 50px;
      }
      [data-type="path"] {
        color: $light-color;
      }
    }
    .prompt {
      display: flex;
      gap: 0;
      color: var(--terminal-color);
      margin-right: 0.5rem;
    }
  }
}