@use "mixins";

.terminal-window {
  display: flex;
  justify-content: center;
  padding: 1rem;
  .terminal-container {
    width: clamp(200px, 100%, 600px);
    resize: both;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    align-self: center;
    border: 1px solid $dark-grey;
    .terminal-header {
      background-color: $dark-grey;
      padding: 0.5rem 1rem;
      display: flex;
      // flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      div {
        width: 50%;
      }
      .header-btns {
        text-align: right;
      }
      .prompt {
        overflow: hidden
      }
      button {
        @include mixins.btn(var(--terminal-color), $dark-color, var(--terminal-color));
      }
      .settings-btn {
        &:hover svg {
          fill: var(--terminal-color);
        }
        &:active {
          background: $dark-color;
        }
        svg {
          fill: $dark-color;
        }
      }
    }
    .terminal-body {
      background-color: $dark-color;
      background-image: linear-gradient(135deg, #1c1c1c, #000000, #1c1c1c);
      padding: 1rem;
      min-height: 400px;
      height: 100%;
      color: $light-color;
      cursor: text;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $dark-tint $light-grey;
      #terminalIntro {
        color: $light-color;
        margin-bottom: 10px;
      }
      .line, .response {
        display: flex;
        align-items: flex-start;
      }
      .line {
        flex-wrap: wrap;
        .prompt {
          flex-flow: wrap;
        }
      }
      .response {
        color: $light-color;
        gap: 5px;
        p{
          margin-bottom: 5px;
        }
        .command-text {
          background: $light-color;
          color: $dark-color;
          padding: 0 2px;
        }
        .folder-text {
          color: $light-tint;
        }
      }
      .input {
        flex: 1;
        color: $light-color;
        background: transparent;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 1em;
        min-width: 50px;
      }
      [data-type="path"] {
        color: $light-color;
      }
    }
    .prompt {
      display: flex;
      gap: 0;
      color: var(--terminal-color);
      margin-right: 0.5rem;
    }
  }
}