@use 'mixins';
@import "variables";

$background: $white;
$foreground: $black;
$primary-tint: $teal;
$secondary-tint: $cyan;
$terminal-text: $green;
$primary-grey: $dark-grey;
$secondary-grey: $light-grey;

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  margin: 0;
  font-family: monospace;
  color: $foreground;
}

button {
  font-family: monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
}

img {
  max-width: 100%;
}

// Modal
dialog#welcomeModal {
  border: none;
  border-radius: 8px;
  padding: 1rem;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px #{$background}88;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
  }
  .modal-close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    &:hover {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0 2px $secondary-tint;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $secondary-tint;
    }
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1rem;
    button {
      @include mixins.btn($foreground, $background, $primary-tint);
    }
  }
}

.hidden {
  display: none !important;
}

@import 'terminal';
@import 'gui';