@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  margin: 0;
  font-family: monospace;
  color: $foreground;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
}

// Modal
dialog {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
  }
  .modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
  }
}

.hidden {
  display: none !important;
}