* {
  box-sizing: border-box;
}

body {
  background-color: #eeffff;
  margin: 0;
  font-family: monospace;
  color: #001010;
}

p, h1 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
dialog .modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.hidden {
  display: none !important;
}

.terminal-window {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.terminal-window .terminal-container {
  width: clamp(200px, 100%, 800px);
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  align-self: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.terminal-window .terminal-container .terminal-header {
  background-color: #333333;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terminal-window .terminal-container .terminal-header .deco-navs {
  display: flex;
  gap: 6px;
}
.terminal-window .terminal-container .terminal-header .deco-navs div {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #eeffff;
}
.terminal-window .terminal-container .terminal-header .deco-navs .red {
  background-color: #ff5f56;
}
.terminal-window .terminal-container .terminal-header .deco-navs .yellow {
  background-color: #ffbd2e;
}
.terminal-window .terminal-container .terminal-header .deco-navs .green {
  background-color: #27c93f;
}
.terminal-window .terminal-container .terminal-header button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 10px;
  background-color: #33ff00;
  color: #001010;
  border-radius: 5px;
}
.terminal-window .terminal-container .terminal-header button:hover {
  background-color: #001010;
  color: #33ff00;
}
.terminal-window .terminal-container .terminal-header button:active {
  background-color: #00ffff;
  color: #001010;
}
.terminal-window .terminal-container .terminal-header button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #005f5f;
}
.terminal-window .terminal-container .terminal-body {
  background-color: #001010;
  background-image: linear-gradient(135deg, #1c1c1c, #000000, #1c1c1c);
  padding: 1rem;
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  color: #001010;
  cursor: text;
}
.terminal-window .terminal-container .terminal-body #terminalIntro {
  color: #eeffff;
  margin-bottom: 10px;
}
.terminal-window .terminal-container .terminal-body .line, .terminal-window .terminal-container .terminal-body .response {
  display: flex;
  align-items: flex-start;
}
.terminal-window .terminal-container .terminal-body .response {
  color: #eeffff;
  gap: 5px;
}
.terminal-window .terminal-container .terminal-body .input {
  flex: 1;
  color: #eeffff;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  min-width: 50px;
}
.terminal-window .terminal-container .prompt {
  display: flex;
  gap: 0;
  color: #33ff00;
  margin-right: 0.5rem;
}

.text-color {
  color: #eeffff;
}

.gui-window {
  min-height: 100vh;
}
.gui-window .gui-header {
  position: fixed;
  right: 0;
  left: 0;
  max-width: 600px;
  margin: auto;
  z-index: 1;
}
.gui-window .gui-header .header-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #005f5f;
  color: #eeffff;
}
.gui-window .gui-header .header-container .header-logo {
  display: flex;
  margin: auto;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.gui-window .gui-header .header-container .header-icon {
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
}
.gui-window .gui-header .header-container .header-icon .nav-icon {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 2px solid #eeffff;
  width: 30px;
  height: 30px;
  padding: 3px;
  margin-left: auto;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.gui-window .gui-header .header-container .header-icon .nav-icon:hover {
  border-width: 2px;
}
.gui-window .gui-header .header-container .header-icon .nav-icon .nav-icon-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #eeffff;
  transition: all 0.3s ease-in-out;
}
.gui-window .gui-header .header-container .header-icon .nav-icon .nav-icon-line:nth-child(1) {
  transform: translateY(-5px);
}
.gui-window .gui-header .header-container .header-icon .nav-icon .nav-icon-line:nth-child(2) {
  transform: translateY(5px);
}
.gui-window .gui-header .header-container .header-nav {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.gui-window .gui-header .header-container .header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.gui-window .gui-header .header-container .header-nav ul li a {
  color: #eeffff;
}
.gui-window .gui-header .header-container .header-nav ul li a:hover {
  text-decoration: none;
  color: #00ffff;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons {
  text-align: center;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons .btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem 10px;
  background-color: #eeffff;
  color: #005f5f;
  border-radius: 5px;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons .btn:hover {
  background-color: #005f5f;
  color: #eeffff;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons .btn:active {
  background-color: #00ffff;
  color: #001010;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons .btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #005f5f;
}
.gui-window .gui-header .header-container .header-nav .nav-buttons .btn:hover {
  background-color: #00ffff;
  color: #001010;
}
.gui-window .about {
  padding-top: 12rem;
}
.gui-window .about h2 {
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto 2rem;
}
.gui-window .about .intro {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  margin: 0 auto;
}
.gui-window .about .intro .cover-pic img {
  -o-object-fit: cover;
     object-fit: cover;
}
.gui-window .about .intro .profile-pic-container {
  margin: -40px 0 1rem 10px;
}
.gui-window .about .intro .profile-pic-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: clamp(65px, 15vw, 135px);
  height: clamp(65px, 15vw, 135px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.gui-window .about .intro .profile-pic-container img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.gui-window .about .intro .info-container {
  padding: 0 10px;
  margin-bottom: 1rem;
}
.gui-window .about .intro .info-container .username {
  margin-bottom: 1rem;
}
.gui-window .about .intro .info-container .username h3 {
  margin: 0 0 5px 0;
}
.gui-window .about .intro .info-container .other-info {
  display: flex;
  gap: 1rem;
}
.gui-window .about .intro .info-container .other-info .info-box {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
.gui-window .about .intro .description {
  padding: 0 10px;
  margin-bottom: 1rem;
}
.gui-window .about .intro .description p {
  margin-bottom: 5px;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .gui-window .gui-header .header-container {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .gui-window .gui-header .header-container .header-logo {
    margin-left: 0;
    margin-right: auto;
  }
  .gui-window .gui-header .header-container .header-icon {
    display: none;
  }
  .gui-window .gui-header .header-container .header-nav {
    flex-flow: row nowrap;
    align-items: center;
  }
  .gui-window .gui-header .header-container .header-nav ul {
    margin: 0 2rem 0 0;
  }
  .gui-window .about {
    padding-top: 6rem;
  }
  .gui-window .about .intro .profile-pic-container {
    margin-top: -60px;
  }
}
@media (min-width: 600px) {
  .gui-window .gui-header {
    padding: 10px 0;
  }
  .gui-window .gui-header .header-container {
    border-radius: 10px;
  }
}/*# sourceMappingURL=globals.css.map */